.cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.branding {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 700px;
}
.btngroup {
	position: absolute;
	bottom: 200px;
}
